# Exclude bash history file
.bash_history

# Exclude cache directories
.cache/

# Exclude .codeoss directories and specific subdirectories
.codeoss/
.codeoss/data/User/History/
.codeoss/data/User/workspaceStorage/
.codeoss/data/logs/

# Exclude global git configuration file
.gitconfig

# Exclude local configuration directories
.local/

# Exclude npm logs and directory
.npm/
.npm/_logs/

# Exclude rustup directory
.rustup/

# Exclude VSCode configuration directory
.vscode/

# Exclude Docker configuration directory
.docker/

# Exclude Git directory (usually already excluded by default)
.git/

# Exclude Red Hat configuration directory
.redhat/

# Exclude sudo admin success file
.sudo_as_admin_successful

# Exclude vim information file
.viminfo

# Exclude all files in the .chainlit directory
prospect-prediction/.chainlit/

# Exclude all files in the .chainlit/translations directory
!prospect-prediction/.chainlit/translations/

# Exclude all files in any __pycache__ directory
__pycache__/
prospect-prediction/**/__pycache__/

# Optionally, exclude all .pyc files globally
*.pyc
