.bash_history
.cache/
.codeoss/data/User/History/
.codeoss/data/User/workspaceStorage/
.codeoss/data/logs/
.gitconfig
.local/
.npm/_logs/
.rustup/
.vscode/
.npm/
.cache/
.codeoss/
.config/
.docker/
.git/
.gitconfig
.local/
.redhat/
.rustup/
.sudo_as_admin_successful
.viminfo
