<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' http://localhost:8000">
    <title>Diamond AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div id="content">
            <h1>Diamond AI</h1>
            <label for="player-dropdown">Player:</label>
            <select id="player-dropdown">
                <option value="">Select a player...</option>
            </select>
            <div class="headshot-container" id="headshot-container"></div>
            <div class="stats-container">
                <!-- Player Stats Only -->
                <div id="player-stats" class="stats-section">
                    <div id="response"></div>
                </div>
                <!-- Comparison and Injuries -->
                <div id="comparison-and-injuries" class="stats-section">
                    <div id="new-response"></div>
                    <div id="prediction-response"></div>
                    <div id="comparison-response"></div>
                </div>
            </div>
        </div>
        <!-- Chatbot Iframe -->
        <iframe id="chatbot-iframe" src="https://diamond-ai-942695303899.us-central1.run.app/"></iframe>
    </div>
</body>
</html>